* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4ebff;
    background-image: linear-gradient(rgba(51, 28, 120, 0.5), rgba(136, 119, 232, 0.5)), url(pictures/honmoon.png); 
    background-size: cover;
    color: white;
}

header {
    padding: 2rem;
    height: 300px;
    background-image: linear-gradient(#203381bf,#e3a6ffbf), url("pictures/huntrix.png"), linear-gradient(to top, #e3a6ff, #203381);
    background-size: cover, 1000px,cover; 
    background-repeat: no-repeat;
    background-position: center, center top, center;
    color: white;
    text-align: center;
}

header h1 {
    font-style: italic;
    font-family: 'Baskerville', serif;
    font-size: 5rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

header p {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-family: "Barlow Condensed", sans-serif;
    
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
    margin-bottom: 2rem;
}

header nav ul li a {
    color: #203381;
    text-decoration: none;
    padding: 0.5rem 3rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#E3A5FF
}

.settings a {
    color: white;
    background-color: #203381;
    border:2px solid #E3A5FF;
    border-radius: 10px;
    padding: 0.5rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
    margin-bottom: 1.5rem;
}

.content p {
    margin-bottom: 1.5rem;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 2rem; 
}

.project-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  border: 2px solid #E3A5FF;
  background-image: linear-gradient(to top, #eecaff, #fbf3ff);
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  color: black;
}

.project-item img {
  width: 100%;
  max-width: 150px; 
  height: auto;
  margin-top: 1rem;
}

.future-project-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  border: 2px solid #203381;
  background-image: linear-gradient(to top, #8794c9, #dee5ff);
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  color: black;
}

.future-project-item img {
  width: 100%;
  max-width: 150px; 
  height: auto;
  margin-top: 1rem;
}