* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4ebff;
    color: black;
}

header {
    padding: 2rem;
    /* background-color: black; */
    background-image: linear-gradient(to top, #E3A5FF, #203381);
    color: white;
    text-align: center;
}


h1 {
    font-style: italic;
    font-family: 'Baskerville', serif;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 1rem;
}

header nav ul li a {
    color: #203381;
    text-decoration: none;
    padding: 0.5rem 3rem;
    border: 2px solid white;
    border-radius: 10px;
    background-color:#E3A5FF
}

.settings a {
    background-color: #203381;
    border-radius: 10px;
    padding: 0.5rem;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
    margin-bottom: 1.5rem;
}

.content p {
    margin-bottom: 1.5rem;
}



.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  gap: 2rem; 
}

.project-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  border: 2px solid #E3A5FF;
  /* background-color: #fbf3ff; */
  background-image: linear-gradient(to top, #eecaff, #fbf3ff);
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

.project-item img {
  width: 100%;
  max-width: 150px; 
  height: auto;
  margin-top: 1rem;
}

.future-project-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 30%;
  border: 2px solid #203381;
  background-image: linear-gradient(to top, #8794c9, #dee5ff);
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
  align-items: center;
}

.future-project-item img {
  width: 100%;
  max-width: 150px; 
  height: auto;
  margin-top: 1rem;
}